<%- include ("./partials/header.ejs") %>
<div class="home" style="width: 100%; font-family: 'Gilroy'; ">
    <div class="home-component" style="width: 100%; height: 91vh;  background-image: url(https://img.freepik.com/premium-photo/wedding-archway-with-flowers-lanterns_327072-22874.jpg?w=740); background-position: center; background-repeat: no-repeat; background-size: 100%; text-align: center;  text-transform: capitalize; ">
        <h1 style="font-size: 5em; padding-top: 2.3em; color: white; text-transform: uppercase; font-weight: 600;">welcome to <br> elegant  booking.</h1>
    </div>
    <div class="home-component2" style="width: 100%; height: 100vh; ">
        <div class="hoga">
            <h1>
                WEDNUE IS A FULL SERVICE WEDDING VENUE BOOKING COMPANY,<br>
                
                DEDICATED TO CREATING UNFORGETTABLE EVENTS FOR YOU</h1>
                <h2>We combine seasoned knowledge with inspiration and ingenuity, transforming venues<br>

                    and providing your guests with truly unique experiences.</h2>
                    <p>
                        Contact us to find a perfect venue for your dream event !
                    </p>
        </div>
        <div class="container">
            <div class="box">
                <div class="imgbx">
                    <img src="https://plus.unsplash.com/premium_photo-1664790560217-f9d1b375b7eb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2VkZGluZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbx">
                    <div>
                        <h3>post title</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                            consecteturadipisicing elit <br>
                            adipisicing elit Consequatur<br>
                            adipisicing elit  adipisicing <br>
                            adipisicing  adipisicing <br>
                            adipisicing  adipisicing .
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="box">
                <div class="imgbx">
                    <img src="https://images.pexels.com/photos/7711150/pexels-photo-7711150.jpeg?auto=compress&cs=tinysrgb&w=600">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbx">
                    <div>
                        <h3>post title</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                            consecteturadipisicing elit <br>
                            adipisicing elit Consequatur<br>
                            adipisicing elit  adipisicing <br>
                            adipisicing  adipisicing <br>
                            adipisicing  adipisicing .
                        </p>
                    </div>
                </div>
            </div>
        
        
            <div class="box">
                <div class="imgbx" 2>
                    <img src="https://images.unsplash.com/photo-1523438885200-e635ba2c371e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2VkZGluZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbx">
                    <div>
                        <h3>post title</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                            consecteturadipisicing elit <br>
                            adipisicing elit Consequatur<br>
                            adipisicing elit  adipisicing <br>
                            adipisicing  adipisicing <br>
                            adipisicing  adipisicing .
                        </p>
                    </div>
                </div>
            </div>
        
        
            <div class="box">
                <div class="imgbx" 3>
                    <img src="https://plus.unsplash.com/premium_photo-1664530452584-9c600fe6f0ae?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHdlZGRpbmclMjB2ZW51ZXxlbnwwfHwwfHx8MA%3D%3D">
                </div>
                <div class="layer layer1"></div>
                <div class="layer layer2"></div>
                <div class="contentbx">
                    <div>
                        <h3>post title</h3>
                        <p>Lorem ipsum dolor sit amet <br>
                            consecteturadipisicing elit <br>
                            adipisicing elit Consequatur<br>
                            adipisicing elit  adipisicing <br>
                            adipisicing  adipisicing <br>
                            adipisicing  adipisicing .
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="home-component3" style="width: 100%; height: 100vh; ">
        <div class="kuchhoga">
            <h1 class="kuch">PERFECT WEDDING VENUES</h1>
            <h3 class="kuch1">LET US HELP YOU FIND THE BEST SUITED VENUE FOR YOUR SPECIAL DAY</h3>
            <p>Venue is the most important part of the wedding planning and is the major part of your wedding budget.<br>

                We can assist you shortlist and book the best venue based on your requirements. <br>
                
                Checkout the venues in our list or just contact us to discuss to find the perfect one !</p>

        </div>
        
        <div id="card-area">
            <div class="wrapper2">
                <div class="box-area">
                   <div class="box">
                    <img src="https://images.pexels.com/photos/11794592/pexels-photo-11794592.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    <div class="overlay">
                        <h3>mountain</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit incidunt neque quis et illo odit autem laudantium, 
                            itaque asperiores aspernatur ea eveniet unde cum excepturi eligendi.</p>
                            <a href="#">Book Now</a>
                    </div>
                   </div>
                   <div class="box">
                    <img src="https://images.pexels.com/photos/6544766/pexels-photo-6544766.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    <div class="overlay">
                        <h3>Hill</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit incidunt neque quis et illo odit autem laudantium, 
                            itaque asperiores aspernatur ea eveniet unde cum excepturi eligendi.</p>
                            <a href="#">Book Now</a>
                    </div>
                   </div>
                   <div class="box">
                    <img src="https://images.pexels.com/photos/11994922/pexels-photo-11994922.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    <div class="overlay">
                        <h3>Land</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit incidunt neque quis et illo odit autem laudantium, 
                            itaque asperiores aspernatur ea eveniet unde cum excepturi eligendi.</p>
                            <a href="#">Book Now</a>
                    </div>
                   </div>
                </div>
                
            </div>
    
        </div>
    </div>

    
    <main style="min-height: 20.4vh;">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div></main>
    <footer class="footer">
        <div class="container" >
            <div class="row" >
                <div class="col-md-3  footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<% include ("./partials/footer.ejs") %>