<%- include ("./partials/header.ejs") %>
<div class="home" style="width: 100%; font-family: 'Gilroy'; ">
    <div class="home-component" style="width: 100%; height: 90vh;  background-image: url(https://img.freepik.com/premium-photo/wedding-archway-with-flowers-lanterns_327072-22874.jpg?w=740); background-position: center; background-repeat: no-repeat; background-size: 100%; text-align: center;  text-transform: capitalize; ">
        <h1 style="font-size: 5em; padding-top: 2.3em; color: white; text-transform: uppercase; font-weight: 600;">welcome to <br> elegant  booking.</h1>

    </div>
</div>
<% include ("./partials/footer.ejs") %>